/* COLORS */
BASE_GRAY = #333
DARK_GRAY = lighten(BASE_GRAY, 20%)
LIGHT_GRAY = lighten(BASE_GRAY, 95%)
MED_GRAY = lighten(BASE_GRAY, 50%)
PURPLE = #7142F0
RED = #EC3B32
GREEN = #14D259

.purple
  color PURPLE
.red
  color RED
.green
  color GREEN

/* MIXINS */
fader(prop, seconds)
  -webkit-transition prop seconds linear
  -moz-transition prop seconds linear
  -ms-transition prop seconds linear
  -o-transition prop seconds linear
  transition prop seconds linear

/* TYPE */
h1
  font-weight 100
  font-size 1.8em
  letter-spacing 2px
h2
  font-size 0.8em
a
  text-decoration none
  fader(color, 0.2s)
  color MED_GRAY
  &:hover
    color LIGHT_GRAY

html, body
  background #000
  padding 0
  margin 0
  font-family 'Oxygen', sans-serif

header
  padding-top 20px
  height 80px
  text-align center

#container
  color LIGHT_GRAY
  width 70%
  margin 0 auto

#page
  padding 40px
  border 1px solid LIGHT_GRAY
  min-height 700px
  margin 60px auto 0px

footer
  color LIGHT_GRAY
  text-align center
  margin 100px auto 20px
  p
    text-align center
    font-family 'Oxygen'
    color MED_GRAY
    font-size 10px
    text-transform uppercase
    font-weight bold
    letter-spacing 1px
    margin 0
    padding 2px